/* Centrado del contenido */
.contenido-centrado{

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 30px;
}

.contenido-header{
    margin: auto;
}

.contenido-form {
    width: 20%;
}

/* Titulos */
.title-style{
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

/* Inputs */
.input-style{
    border: 2px solid #77D353;
    height: 40px;
    font-size: 15px;
    font-style: italic;
    color: gray;
    outline: none;
    text-align: center;
    margin: 15px 0px;
}

.input-style:focus{
    border: 2px solid #77D353;
}

input[type=submit] {
    width: 50%;
    height: 65px;
    margin-left: 25%;
    background-color: #77D353;
    border: 2px solid #77D353;
    color: white;
    font-size: 15px;
    font-style: italic;
    border-radius: 30px;
}

/* Label */

.label-style{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    font-style: italic;
} 

/* Logo */
img{
    width: 40%;
    height: 40%;
}

/* Div del form */
.row-form {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

